@model IEnumerable<Sistema_de_Gerenciamento_de_Tarefas.ViewModels.LoginModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>


<table class="table">
    <thead>

    <form asp-controller="Login" asp-action="home" method="post">
        <div>
            <label for="UserName">Usuário:</label>
                <input type="text" id="UserName" name="UserName" />
        </div>
        <div>
                <label for="Senha">Senha:</label>
                <input type="Senha" id="Senha" name="Senha"/>
        </div>
        <button type="submit">Entrar</button>
    </form>

    </thead>

</table>
